<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <mat-card-title>Witaj {{userDetails.firstName}}! Typuj z nami!</mat-card-title>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <span *ngIf="userDetails">
      <button mat-button class="toolbar-button" routerLinkActive="active" routerLink="/home">Home</button>
      <button mat-button class="toolbar-button" routerLinkActive="active" routerLink="/fixtures">Fixtures</button>
      <button mat-button class="toolbar-button" routerLinkActive="active" routerLink="/prediction">Predictions</button>
      <button mat-button class="toolbar-button" *ngIf="userDetails" (click)="doLogout()">Logout</button>
      </span>
    <button mat-button class="toolbar-button" *ngIf="!userDetails" routerLinkActive="active" routerLink="/fixtures">
      Login
    </button>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
