.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-card {
  width: 400px;
  margin: 10% auto;
}
.mat-card-title{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.mat-raised-button {
  margin: 10px;
}
.toolbar-button {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
