<mat-card class="title">Current Fixtures:</mat-card>
<div id="fixturesTable">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let fixture"> {{fixture.eventDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let fixture"> {{fixture.eventTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="homeTeam">
      <mat-header-cell *matHeaderCellDef> Home Team </mat-header-cell>
      <mat-cell *matCellDef="let fixture"> {{fixture.eventHomeTeam}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="awayTeam">
      <mat-header-cell *matHeaderCellDef> Away Team </mat-header-cell>
      <mat-cell *matCellDef="let fixture"> {{fixture.eventAwayTeam}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
      <mat-cell *matCellDef="let fixture"> {{fixture.eventFinalResult}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
