.single-fixture-card {
  padding: 9px;
  border-radius: 15px;
  min-height: 88px;
  width: 99%;
  margin-top: 4px;
}
.single-fixture-span {
  float: left;
  margin-left: 2%;
}
.submit-btn {
  float: left;
  margin: 20px;
}
.clear {
  clear: both;
}
