<div *ngIf="fixture">
  <form [formGroup]="predictionForm" (ngSubmit)="onSubmit()">
    <mat-card class="single-fixture-card">
    <span class="single-fixture-span">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>{{fixture.eventHomeTeam}}</mat-label>
        <input matInput placeholder="Gole gospodarza" formControlName="homeScore" required>
        <mat-hint>Wytypuj liczbę goli gospodarza</mat-hint>
        <mat-error *ngIf="predictionForm.get('homeScore').hasError('required')">
          <strong>Pole musi być uzupełnione</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('homeScore').hasError('pattern')">
          <strong>Tylko znaki numeryczne</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('homeScore').hasError('minlength')">
          <strong>Minimalna ilość znaków: 1</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('homeScore').hasError('maxlength')">
          <strong>Maksymalna ilość znaków: 3</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('homeScore').hasError('min')">
          <strong>Wynik nie może być ujemny</strong>
        </mat-error>
      </mat-form-field>
    </span>
    <span class="single-fixture-span">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>{{fixture.eventAwayTeam}}</mat-label>
        <input matInput placeholder="Gole gościa" formControlName="awayScore" required>
        <mat-hint>Wytypuj liczbę goli gościa</mat-hint>
        <mat-error *ngIf="predictionForm.get('awayScore').hasError('required')">
          <strong>Pole musi być uzupełnione</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('awayScore').hasError('pattern')">
          <strong>Tylko znaki numeryczne</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('awayScore').hasError('minlength')">
          <strong>Minimalna ilość znaków: 1</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('awayScore').hasError('maxlength')">
          <strong>Maksymalna ilość znaków: 3</strong>
        </mat-error>
        <mat-error *ngIf="predictionForm.get('awayScore').hasError('min')">
          <strong>Wynik nie może być ujemny</strong>
        </mat-error>
      </mat-form-field>
    </span>
    <button class="submit-btn" color="accent" mat-raised-button type="submit" [disabled]="!predictionForm.valid">Submit</button>
    </mat-card>
  </form>
</div>
<div class="clear"></div>
